
<div class="auth-main">
    <!-- <div class="auth-wrapper v3"> -->
      <div class="auth-form">
        
        <div class="card my-5">
          <div class="card-body">
            <h3 class="mb-3" style="text-align: center; padding-top: 10px;"><b>Payment Requests</b></h3>
  
            
            <!-- <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary" style="width: 15%">Save</button>
              <button type="button" class="btn btn-secondary" style="width: 15%;margin-left: 20px">Cancel</button>
         </div> -->
         <div class="card-body p-5">
            <div class="row mb-4">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Search..." #searchInput />
              </div>
            </div>
            <!--table-->
            <table class="table table-striped">
              <thead style="background-color: #A89AFF">
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">Vendor Name</th>
                  <th scope="col">UVN</th>
                  <th scope="col">Scheme </th>
                  <th scope="col">Sub-Scheme </th>
                  <th scope="col">Sub-Component </th>
                  <th scope="col">Assigned Limit </th>
                  <th scope="col">Expense Type </th>
                  <th scope="col">Net Payable Amount </th>
                  <th scope="col">Remarks </th>
                  
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <th scope="row"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td> 
    
                  <td>
                    <i class="fa fa-check" aria-hidden="true" style="cursor: pointer;" ></i>
                    <i class="fa fa-times" aria-hidden="true"  style="margin-left: 16px; cursor: pointer;"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--table end-->
            <!-- Pagination controls -->
            <div>
         
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>