
<div class="auth-main">
    <!-- <div class="auth-wrapper v3"> -->
      <div class="auth-form">
        
        <div class="card my-5">
          <div class="card-body">
            <h3 class="mb-3" style="text-align: center; padding-top: 10px;"><b>Reset Password</b></h3>
  
            <div class="row" class="row justify-content-center">
              <div class="col-md-6 mb-3">
                <label class="form-label" for=""><h5>Email ID</h5></label>
                <input type="text" class="form-control" id="" placeholder="Enter Your Registered Email ID" required maxlength="150">
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary" style="width: 15%">Send</button>
              <button type="button" class="btn btn-secondary" style="width: 15%;margin-left: 20px">Resend</button>
         </div>
         
       
        </div>
      </div>
    </div>
  </div>
       
        
    
  <!-- </div> -->
  
    
  
  
  
  
  
    