
<div class="auth-main">
    <!-- <div class="auth-wrapper v3"> -->
      <div class="auth-form">
        
        <div class="card my-5 just">
          <div class="card-body">
            <h3 class="mb-3" style="text-align: center; padding-top: 10px;"><b>Register User</b></h3>
            <form [formGroup]="formValue" (ngSubmit)="onSubmit(formValue.value)">
  
            <div class="row justify-content-center">
              <div class="col-md-5 mb-3">
                <input type="hidden" value="0" id="id" formControlName="id">
                <label class="form-label" for="roleId"><h5>Select Role</h5></label>
                <select class="form-select" id="roleId" formControlName="roleId">
                  <option value="" selected disabled>Choose Role</option>
                  <option *ngFor="let role of RoleDetails"  value="{{role.id}}">{{ role.roleName }}</option>
                  </select>
              </div>
              <div class="col-md-5 mb-3">
                <label class="form-label" for="levelId"><h5>Select Level</h5></label>
                <select class="form-select" id="levelId" formControlName="levelId" required>
                  <option value="" selected disabled>Choose Level (Select Role first)</option>
                  <option *ngFor="let level of LevelDetails"  value="{{level.id}}">{{ level.levelName }}</option>
                  </select>
              </div>
            </div>
            
            <div class="row justify-content-center">
              <div class="col-md-5 mb-3">
                <label class="form-label" for="agencyName"><h5>Agency Name</h5></label>
                <input type="text" class="form-control" id="agencyName" formControlName="agencyName" (input)="onAlphabetInputChange($event)" placeholder="Enter Agency Name" required maxlength="150">
                <!-- <div *ngIf="formValue.controls['agencyName'].invalid && (formValue.controls['agencyName'].dirty || formValue.controls['agencyName'].touched)" class="text-danger">
                  <div *ngIf="formValue.controls['agencyName'].errors?.['required']">
                    Agency Name is required.
                  </div>
                  <div *ngIf="formValue.controls['agencyName'].errors?.['noSpecialCharactersAndNumbers']">
                    Only letters are allowed.
                  </div>
                  <div *ngIf="formValue.controls['agencyName'].errors?.['maxlength']">
                    Maximum length is 150 characters.
                  </div>
                </div> -->
              </div>
              <div class="col-md-5 mb-3">
                <label class="form-label" for="email"><h5>Email</h5></label>
                <!-- <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email"  required maxlength="150"> -->
                <input type="email" id="email" class="form-control" formControlName="email">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['pattern']">Invalid email format.</div>
      </div>
                <!-- <div *ngIf="formValue.controls['CountryName'].invalid && (formValue.controls['CountryName'].dirty || formValue.controls['CountryName'].touched)" class="text-danger">
                  <div *ngIf="formValue.controls['CountryName'].errors?.['required']">
                    Country Name is required.
                  </div>
                  <div *ngIf="formValue.controls['CountryName'].errors?.['maxlength']">
                    Maximum length is 150 characters.
                  </div>
                </div> -->
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-5 mb-3">
                <label class="form-label" for="password">
                  <h5>Password</h5>
                </label>
                <div class="input-group">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    placeholder="Enter Password"
                    required
                    maxlength="8"
                    minlength="8"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="togglePasswordVisibility()"
                  >
                    <i [class]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                  </button>
                </div>
              </div>
            </div>
            
            
            
  
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary btn-block btn-responsive" style="width: 15%">{{isUpdate?'Update':'Add'}}</button>
              <button type="button" class="btn btn-secondary btn-block btn-responsive" style="width: 15%;margin-left: 20px" (click)="resetForm()" >Reset</button>
         </div>
        </form>
         <div class="card-body p-5">
          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" class="form-control"  placeholder="Search..." #searchInput />
            </div>
          </div>
          <!--table-->
          <table class="table table-striped">
            <thead style="background-color: #A89AFF">
              <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Agency Name</th>
                <th scope="col">Role</th>
                <th scope="col">Level</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of UserDetails; let i = index"  >
                <th scope="row">{{ i+1 }}</th> 
                <td>{{ user.agencyName }}</td>
                <td>{{ user.roleName }}</td>
                <td>{{ user.levelName }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <i class="fa fa-pencil" (click)="editing(user.id)" aria-hidden="true" style="cursor: pointer;"></i>
                  <i class="fa fa-toggle-on" style="margin-left: 16px; cursor: pointer;"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <!--table end-->
          <!-- Pagination controls -->
          <div>
       
        </div>
      </div>
      <div class="auth-footer row"></div>
    </div>
  </div>
  </div>
  
          </div>
  <!-- </div> -->
  
    
  
  
  
  
  
    