
<div class="auth-main">
    <!-- <div class="auth-wrapper v3"> -->
      <div class="auth-form">
        
        <div class="card my-5">
          <div class="card-body">
            <h3 class="mb-3" style="text-align: center; padding-top: 10px;"><b>Assign Limit</b></h3>
            <form [formGroup]="formValue" (ngSubmit)="onSubmit(formValue.value)">
  
            <div class="row justify-content-center">
              <div class="col-md-5 mb-3">
                <label class="form-label" for="levelId"><h5>Select Level</h5></label>
                <select class="form-select" id="levelId" formControlName="levelId" required>
                  <option value="" selected disabled>Choose Level</option>
                  <option *ngFor="let level of LevelDetails"  value="{{level.id}}">{{ level.levelName }}</option>
                  </select>
              </div>
              <div class="col-md-5 mb-3">
                <label class="form-label" for="userId"><h5>Select Agency Name</h5></label>
                <select class="form-select" id="userId" formControlName="userId" required >
                  <option value="" selected disabled>Choose IA/State Name (Select Level first)</option>
                  <option *ngFor="let users of filteredUsers"  value="{{users.id}}">{{ users.agencyName }}</option>
                  </select>
              </div>
            </div>
            
            <div class="row justify-content-center">
              <div class="col-md-5 mb-3">
                <label class="form-label" for="schemeId"><h5>Select Scheme</h5></label>
                <select class="form-select" id="schemeId" formControlName="schemeId" required >
                  <option value="" selected disabled>Choose Scheme (Select IA/State Name first)</option>
                  <option *ngFor="let scheme of SchemeDetails"  value="{{scheme.id}}">{{ scheme.schemeName }}</option>
                  </select>
              </div>
              <div class="col-md-5 mb-3">
                <label class="form-label" for="limit"><h5>Assign Limit</h5></label>
                <input type="number" class="form-control" id="limit" formControlName="limit" (input)="onInputChange($event)" placeholder="Assign Limit" min="0" max="17" required>
                <div *ngIf="formValue.controls['limit'].hasError('maxDigits')">
                  <small class="text-danger">Amount cannot exceed 17 digits.</small>
              </div>
              </div>
            </div>
            
  
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary btn-block btn-responsive" style="width: 15%">{{isUpdate?'Update':'Add'}}</button>
              <button type="button" class="btn btn-secondary btn-block btn-responsive" style="width: 15%;margin-left: 20px" (click)="cancel()">Reset</button>
         </div>
        </form>
         <div class="card-body p-5">
          <div class="row mb-4">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Search..." #searchInput />
            </div>
          </div>
          <!--table-->
          <table class="table table-striped">
            <thead style="background-color: #A89AFF">
              <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Level</th>
                <th scope="col">IA/State </th>
                <th scope="col">Scheme </th>
                <th scope="col">Limit </th>
                <!-- <th scope="col">Action</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let limit of LimitDetails; let i = index">
                <th scope="row">{{ i+1 }}</th> 
                <td>{{ limit.levelName }}</td>
                <td>{{ limit.agencyName }}</td> 
                <td>{{ limit.schemeName }}</td> 
                <td>{{ limit.limit }}</td> 
                <!-- <td>
                  <i class="fa fa-pencil" (click)="editing(limit.id)" aria-hidden="true" style="cursor: pointer;"></i>
                  <i class="fa fa-trash" (click)="deleteLimit(limit.id)" style="margin-left: 16px; cursor: pointer;"></i>
                </td> -->
              </tr>
            </tbody>
          </table>
          <!--table end-->
          <!-- Pagination controls -->
          <div>
       
        </div>
      </div>
    </div>
  </div>
  </div>
  
  </div>      
  
  
  
  
  
  
    








<!-- <div class="card">
    <div class="card-body">
      <h3>Assign Fund Limit</h3>
      <form>
        <div class="form-group mb-3 d-flex flex-wrap">
          <label for="stateSelect" class="mr-2 col-form-label">State:</label>
          <select id="stateSelect" class="form-control mr-2" style="flex: 1;">
            <option value="">-- Select State --</option>
            <option value="state1">State 1</option>
            <option value="state2">State 2</option>
          </select>
  
          <label for="levelSelect" class="mr-2 col-form-label">Level:</label>
          <select id="levelSelect" class="form-control mr-2" style="flex: 1;">
            <option value="">-- Select Level --</option>
            <option value="level1">Level 1</option>
            <option value="level2">Level 2</option>
          </select>
  
          <label for="schemeSelect" class="mr-2 col-form-label">Scheme:</label>
          <select id="schemeSelect" class="form-control flex-grow-1" style="flex: 1;">
            <option value="">-- Select Scheme --</option>
            <option value="scheme1">Scheme 1</option>
            <option value="scheme2">Scheme 2</option>
          </select>
        </div>
  
        <div class="form-group mb-3 d-flex align-items-center">
          <label for="assignedAmount" class="mr-2 col-form-label">Assigned Amount:</label>
          <input type="number" class="form-control flex-grow-1" id="assignedAmount" placeholder="Enter Assigned Amount">
        </div>
  
        <div class="row justify-content-center mt-3">
          <button type="submit" class="btn btn-primary" style="width: 15%">Add</button>
          <button type="reset" class="btn btn-secondary" style="width: 15%;margin-left: 20px">Reset</button>
        </div>
      </form>
    </div>
  </div>
   -->
